# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries and cmake files
catmint-parser
./catmint-lex/text/*
*.tab.c
*.tab.h
lex.yy.c
old.y
catmint-lex/bin/*
*.cmake
catmint-ast/CMakeFiles/*
*.log
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake
*.cpp~
*.cm~
*.h~
*.includecache
*.internal
*.make
